<!-- <nav class="navbar cnavbar-expand-sm fixed-top" > -->
	 <nav class="navbar  navbar-expand-sm sticky-top navbar-expand-sm" > 
    <div class="container-fluid">
<!-- <nav class="navbar navbar-dark bg-dark navbar-expand-sm"> -->
<a class="navbar-brand" href="/admin">
    <img src="./assets/FoodImages/foodBoxLogo.png" width="50" height="50" class="d-inline-block align-top" alt="FoodBox">
  </a>
 <ul class="nav nav-pills" role="tablist">
    <li  class="nav-item"><a class="nav-link" href="/admin">Dashboard</a></li>  
    <!-- <c:if test = "${not empty userEmailId }"> -->
	    <li><span class="badge badge-warning" style = "font-size: x-large;">Hi! Admin</span></li>
	    <li class="nav-item"><a class="nav-link" href="/admin">
	    <!-- <img src="/images/Logout.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
	    Logout</a>
	    </li>
 	<!-- </c:if> -->
 
 </ul>
</div>
 </nav>
