<header>
   <nav class="navbar fixed-top" > 
  <div class="container">
    <!-- <a routerLink="/" class="logo">Food Box!</a> -->

    <!-- <a routerLink="/" class="logo">Food box!</a> -->
    <a class="navbar-brand" href="#">
      <img src="./assets/FoodImages/foodBoxLogo.png" width="60" height="60" class=" d-inline-block align-top"
        alt="Happy Heels">

    </a>

    <!-- <a class="navbar-brand-center zoomIn hidden-xs hidden-sm animated"  ng-click="" ng-class="{'animated':!screenWidth.sm || !screenWidth.xs}" href="#">
      <span class="logo-container"> 
          <div class="image-wrapper">
              <img src="./assets/FoodImages/Food-box-01.jpg" width="100" height="200"  alt="Inchin's Bamboo Garden" class="d-inline-block align-top">
          </div>
      </span>
  </a> -->


    <ul>
      <li *ngIf="!isAuth">
        <!--user.token should be added-->
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth" class="menu-container">
        <!-- Hi {{user.firstName}}!! -->
        <a routerLink="/dashboard">{{user.firstName}}</a>
        <div class="menu">
          <a routerLink="/profile">Profile</a>
          <a routerLink="/orders">Orders</a>
          <a (click)="logout()">Logout</a>
        </div>
      </li>
      <li>
        <a routerLink="/cart">
          <i class="bi bi-cart"></i> <span class="badge badge-primary badge-pill" style="vertical-align: top;"
            *ngIf="cartQuantity">{{cartQuantity}}</span>

        </a>
        <!-- <button  routerLink="/cart-page" class="btn cart">
              <i style="font-size: 50px;color:#372861;" class="fas fa-cart-plus"></i>
          </button> -->
        <!-- <i style="font-size: 50px;color:#372861;" class="fas fa-cart-plus"></i> -->

        <!-- <span class="badge badge-primary badge-pill" style="vertical-align: top;" > ${cartCount}</span> -->
      </li>
    </ul>



  <!-- </nav> -->

  </div>
  </nav>
</header>