<header>
   <nav class="navbar fixed" > 
  <div class="container">

    <a class="navbar-brand" href="#">
      <img src="./assets/FoodImages/foodBoxLogo.png" width="60" height="60" class=" d-inline-block align-top"
        alt="Happy Heels">

    </a>

    <ul>
      
      <li >
        <!--user.token should be added-->
        <a routerLink="/">Menu</a>
      </li>
      <li *ngIf="!isAuth">
        <!--user.token should be added-->
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth" class="menu-container">
        <!-- Hi {{user.firstName}}!! -->
        <a routerLink="/dashboard">{{user.firstName}}</a>
        <div class="menu">
          <a routerLink="/profile">Profile</a>
          <a routerLink="/orders">Orders</a>
          <a (click)="logout()">Logout</a>
        </div>
      </li>
      <li>
        <a routerLink="/cart">
          <i class="bi bi-cart"></i> <span class="badge badge-primary badge-pill" style="vertical-align: top;"
            *ngIf="cartQuantity">{{cartQuantity}}</span>

        </a>
      </li>
    </ul>

  </div>
  </nav>
</header>