<admin-header></admin-header>
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome  Admin</h1>
    <p>Easily manage FoodBox website data</p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Categories</h4>
                    <p class="card-text">Manage the categories section here.</p>
                    <a href="/category" class="card-link btn btn-primary">Manage</a>

                </div>
            </div>
        </div>
        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Food Item</h4>
                    <p class="card-text">Manage all the Food Items here.</p>
                    <a href="/foodItem" class="card-link btn btn-primary">Manage</a>

                </div>
            </div>
        </div>
        
        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Registered Users</h4>
                    <p class="card-text">See All Registered Users Here.</p>
                    <a href="/users" class="card-link btn btn-primary">List Users</a>

                </div>
            </div>
        </div>
        
        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:white;">
                <div class="card-body">
                    <h4 class="card-title">Purchase Order Report</h4>
                    <p class="card-text">Track all Orders made by Customer here</p>
                    <a href="/order-report" class="card-link btn btn-primary">Purchase-Order Report</a>

                </div>
            </div>
        </div>

    </div>
</div>
