/* Style the container for inputs
.container {
	/* width: 50%;
	margin-left: 25%;
	margin-top: 8% 
	position: relative;
	z-index: 2;
	width: 500px;
	margin: 50px auto;
	padding: 20px;
	background: white;
	opacity: 90%;
} */

.container{
    margin-top: 5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-bottom: 2rem;
}